<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
    <title>Petition</title>
</head>
<body>
    <header>
        <div class="atLeft">
        <h1 class="logo">PeT</h1>
        <img class="logoPic" src="/image/pet%20(1).png" alt="logo">
        </div>
        <div class="atRight">
        <a href="/login">Log In</a>
        <a href="/logout">Log Out</a>
        <a href="/registration">Register</a>
        </div>
    </header>
    {{{body}}}
    <footer>&copy; Luca Tomarelli, 2020</footer>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="script.js"></script>
</body>
</html>